*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

#add_wisata {
    gap: 30px;
}
section h1 {
    font-weight: 900;
}
form {
    gap: 20px;
    width: 40rem;
   
}
form i {
    font-size: 25px;
    position: absolute;
    left: 101%;
    top: 5px;
    transition: transform 1s, 1s;
    cursor: pointer;
}
form i:hover {
   transform: scale(1.2);
}

form textarea {
resize: none;
height: 250px;
width: 300px;
}

img {
    object-fit: cover;
    width: 450px;
}
#hidePass {
    display: none;
}
#card_form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.con {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 8%;
}
.con label {
    
    position: relative;
    right: 16%;
}
@media only screen and (max-width: 600px) {
   form {
    width: 18rem;
   }
   #card_form {
    height:65rem ;
   }

   #add_wisata {
    gap: 35px;
}
  }